@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600;700&family=Roboto:wght@300;400&display=swap");

:root {
  --fuente-principal: "Roboto", sans-serif;
  --fuente-titulo: "Raleway", sans-serif;
}

.body {
  font-family: var(--fuente-principal);
  font-size: 1.2rem;
}

.historia--titulo {
  font-family: var(--fuente-titulo);
  font-size: 2rem;
}

.perfil,
.usuario--social {
  display: flex;
}

.perfil {
  gap: 3rem;
  flex-wrap: wrap;
}

.usuario--social {
  gap: 1rem;
}

.usuario--social-item {
  width: 4rem;
  height: auto;
}

img {
  width: 100%;
}

.usuario {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
}

.usuario--imagen,
.usuario--datos {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.usuario--datos {
  align-self: end;
}